# Exclude non-code files from language stats
*.docx linguist-documentation
*.png linguist-generated
*.csv linguist-generated

# Force detect these as code
*.qmd linguist-language=R
*.sql linguist-language=SQL
